{% extends 'chat/base.html' %}

{% block title %}Welcome | {% endblock %}

{% block content %}
<div class="'p-10 lg:p-20 text-center">
    <h1 class="text-3xl lg:text-6xl text-white">DjangoChat</h1>
</div>

{% if messages %}
  {% for message in messages %}
    <div class="alert alert-dismissible alert-success text-3xl text-white text-center">
      <button type="button" class="close" data-dismiss="alert">
      :)
      </button>
      <strong>{{message}}</strong>
    </div>
 {% endfor %}
{% endif %}

{% endblock %}