{% extends 'chat/base.html' %}

{% block title %} VideoCall | {% endblock %}

{% load static %}
{% block content %}

<main>
    <section id="room-name-wrapper">
        <p class="text-white">Room Name: <span id="room--name"></span></p>
    </section>


    <section id="video-streams">
        <div id="video-container"><video class="video-container" id="local-video" autoplay playsinline></video></div>

        <div id="controls-wrapper">
            <img class="control-icon" id="mic-btn" src="{% static 'images/microphone.svg' %}" />
            <img class="control-icon" id="camera-btn" src="{% static 'images/video.svg' %}" />
            <img class="control-icon" id="leave-btn" src="{% static 'images/leave.svg' %}" />
        </div>

    </section>
</main>

<style>
    #room-name-wrapper{
        text-align: left;
        font-size: 18px;
}

    #video-streams{
        display: flex;
        flex-wrap: wrap;
        height: 82vh;
        width: 53%;
        margin:0 auto;
}

    .video-container{
        flex-basis: 500px;
        flex-grow: 1;
        max-height: 100%;
        min-height: 350px;
        border: 1px solid rgb(75, 93, 172);
        border-radius: 5px;
        margin: 2px;
        background-color: rgba(198,202,219,1);
        position: relative;
}

    .video-player{
        height: 100%;
        width: 100%;
}

    .video-player > * {
        border-radius: 5px;
}

    .username-wrapper{
        position: absolute;
        top: 10px;
        left: 10px;
        z-index: 9999;
        background-color: rgba(0,0,0,0.3);
        width: fit-content;
        padding: 10px;
        border-radius: 5px;
        color: #fff;
        font-size: 14px;
}

    #controls-wrapper{
    display: flex;
    width: 100%;
    justify-content: left;
    column-gap: 1em;
    position: fixed;
    bottom: 125px;
}

    .control-icon{
    height: 40px;
    width: 40px;
    box-shadow: var(--shadow);
    background-color: #fff;
    cursor: pointer;
    padding: 3px;
    border-radius: 5px;
}

    #leave-btn{
    background-color: rgb(255, 80, 80, 1);
}

</style>
{% endblock %}

{% block scripts %}



<script>
    var mapPeers = {};

    var username = '{{ request.user.username }}';
    var roomName = document.querySelector('#room-name');
    var btnJoin = document.querySelector('#btn-join');

    var room_name;
    var webSocket;

    function webSocketOnMessage(event){
        var parsedData = JSON.parse(event.data);
        var peerUsername = parsedData['peer'];
        var action = parsedData['action'];

        if (username == peerUsername){
            return;
        }

        var receiver_channel_name = parsedData['message']['receiver_channel_name']

        if(action == 'new-peer'){
            createOfferer(peerUsername, receiver_channel_name);

            return;
        }

        if(action == 'new-offer'){
            var offer = parsedData['message']['sdp'];
            createAnswerer(offer, peerUsername, receiver_channel_name);

            return;
        }

        if(action == 'new-answer'){
            var answer = parsedData['message']['sdp'];
            var peer = mapPeers[peerUsername][0];
            peer.setRemoteDescription(answer);

            return;
        }

    }

    var loc = window.location;


    var wsStart = 'ws://';

    if(loc.protocol == 'https:'){
        wsStart = 'wss://';
    }

    var endPoint = wsStart + loc.host + loc.pathname;

    console.log('endpoint: ', endPoint);



    webSocket = new WebSocket(endPoint);

    webSocket.addEventListener('open',(e) => {
        console.log('Connection opened!');

        sendSignal('new-peer', {});
    });

    webSocket.addEventListener('message', webSocketOnMessage);

    webSocket.addEventListener('close',(e) => {
        console.log('Connection Closed!');
    });

    webSocket.addEventListener('error',(e) => {
        console.log('Error Occured!');
    });


    var localStream = new MediaStream();

    const constraints = {
        'video': true,
        'audio': true
    };

    const localVideo = document.querySelector('#local-video');

    var userMedia = navigator.mediaDevices.getUserMedia(constraints)
        .then(stream => {
            localStream = stream;
            localVideo.srcObject = localStream;
            localVideo.muted = true;
        })
        .catch(error => {
            console.log('Error accessing media devices.', error);
        })


    function sendSignal(action,message){
        var jsonStr = JSON.stringify({
            'peer': username,
            'action': action,
            'message': message,
        });

        webSocket.send(jsonStr);
    }


    function createOfferer(peerUsername, receiver_channel_name){
        var peer = new RTCPeerConnection(null);

        addLocalTracks(peer);

        var dc = peer.createDataChannel('channel');
        dc.addEventListener('open', () => {
            console.log('Connection Opened!');
        });

        var remoteVideo = createVideo(peerUsername);
        setOnTrack(peer, remoteVideo);

        mapPeers[peerUsername] = [peer, dc];
        peer.addEventListener('iceconnectionstatechange',() => {
            var iceConnectionState = peer.iceConnectionState;

            if (iceConnectionState === 'failed' || iceConnectionState ==='disconnected' || iceConnectionState === 'closed'){
                delete mapPeers[peerUsername];

                if (iceConnectionState != 'closed'){
                    peer.close();
                }

                removeVideo(remoteVideo);
            }
        });

        peer.addEventListener('icecandidate',(event) => {
            if(event.candidate){
                console.log('New ice candidate: ', JSON.stringify(peer.localDescription));

                return;
            }

            sendSignal('new-offer', {
                'sdp': peer.localDescription,
                'receiver_channel_name': receiver_channel_name
            });
        });

        peer.createOffer()
            .then(o => peer.setLocalDescription(o))
            .then(() => {
                console.log('Local description set Successfully.');
            });
    }

    function createAnswerer(offer, peerUsername, receiver_channel_name){
        var peer = new RTCPeerConnection(null);

        addLocalTracks(peer);

        var remoteVideo = createVideo(peerUsername);
        setOnTrack(peer, remoteVideo);

        peer.addEventListener('datachannel', e => {
            peer.dc = e.channel;
            peer.dc.addEventListener('open', () => {
                console.log('Connection Opened!');
            });

            mapPeers[peerUsername] = [peer, peer.dc];
        });


        peer.addEventListener('iceconnectionstatechange',() => {
            var iceConnectionState = peer.iceConnectionState;

            if (iceConnectionState === 'failed' || iceConnectionState ==='disconnected' || iceConnectionState === 'closed'){
                delete mapPeers[peerUsername];

                if (iceConnectionState != 'closed'){
                    peer.close();
                }

                removeVideo(remoteVideo);
            }
        });

        peer.addEventListener('icecandidate',(event) => {
            if(event.candidate){
                console.log('New ice candidate: ', JSON.stringify(peer.localDescription));

                return;
            }

            sendSignal('new-answer', {
                'sdp': peer.localDescription,
                'receiver_channel_name': receiver_channel_name
            });
        });

        peer.setRemoteDescription(offer)
            .then(() => {
                console.log('Remote description set Successfully for %s.', peerUsername);

                return peer.createAnswer();
            })
            .then(a => {
                console.log('Answer created!');

                peer.setLocalDescription(a);
            });

    function addLocalTracks(peer){
        localStream.getTracks().forEach(track => {
            peer.addTrack(track, localStream);
        });

        return;
    }

    function createVideo(peerUsername){
        var videoContainer = document.querySelector('#video-streams');
        var remoteVideo = document.createElement('video');

        remoteVideo.id = peerUsername + '-video';
        remoteVideo.autoplay = true;
        remoteVideo.playsInline = true;

        var videoWrapper = document.createElement('div');
        videoContainer.appendChild(videeoWrapper);

        videoWrapper.appendChild(remoteVideo);

        return remoteVideo;
    }

    function setOnTrack(peer, remoteVideo){
        var remoteStream = new MediaStream();

        remoteVideo.srcObject = remoteStream;

        peer.addEventListener('track', async (event) => {
            remoteStream.addTrack(event.track, remoteStream);
        });
    }

    function removeVideo(video){
        var videoWrapper = video.parentNode;

        videoWrapper.parentNode.removeChild(videoWrapper)
    }
</script>
{% endblock %}
